In [3]:
a=1
b=2
c=3


total = a+b+\
        c
print(total)

6

In [9]:
 a,b=map(int,input().split())

 2 3

In [8]:
m, n = map(int, input().split())

 10 20

In [13]:
l1=list(map(int,input().split()))

 10 20 30 40

In [14]:
l1

[10, 20, 30, 40]

In [14]:
x,y=map(int,input('enter two numbers: ').split())

enter two numbers:  10 20

In [16]:
name=input('Enter your name: ')
age=int(input('ENter your age : '))
print(name,age)

Enter your name:  JYOTI
ENter your age :  28

JYOTI 28

Enter a list1: 1234
Enter list2:  5678

['1', '2', '3', '4', '5', '6', '7', '8']

In [22]:
print

Exercise 1: Print first 10 natural numbers using while loop
Exercise 2: Print the following pattern
Exercise 3: Calculate sum of all numbers from 1 to a given number
Exercise 4: Print multiplication table of a given number
Exercise 5: Display numbers from a list using a loop
Exercise 6: Count the total number of digits in a number
Exercise 7: Print the following pattern
Exercise 8: Print list in reverse order using a loop
Exercise 9: Display numbers from -10 to -1 using for loop
Exercise 10: Display a message “Done” after the successful execution of the for loop
Exercise 11: Print all prime numbers within a range
Exercise 12: Display Fibonacci series up to 10 terms
Exercise 13: Find the factorial of a given number
Exercise 14: Reverse a integer number
Exercise 15: Print elements from a given list present at odd index positions
Exercise 16: Calculate the cube of all numbers from 1 to a given number
Exercise 17: Find the sum of the series up to n terms
Exercise 18: Print the following pattern

## Exercise 1: Print first 10 natural numbers using while loop

In [27]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## Exercise 2: Print the following pattern

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [38]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Exercise 3: Calculate sum of all numbers from 1 to a given number

In [42]:
n=int(input('enter a number: '))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(f"sum  is : {sum}")

enter a number:  15

sum  is : 120

## Exercise 4: Print multiplication table of a given number

In [46]:
n=int(input('enter a number: '))
for i in range(1,11):
    print(f"{n} * {i} = {n*i}")

enter a number:  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Exercise 5: Display numbers from a list using a loop

 Write a Python program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the following number
If the number is greater than 500, then stop the loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [54]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i>500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

75
150
145

## Exercise 6: Count the total number of digits in a number

Write a Python program to count the total number of digits in a number using a while loop.

For example, the number is 75869, so the output should be 5.

In [59]:
num=int(input("enter a number : "))
cnt=0
while num !=0:
    num=num//10
    cnt+=1
print(cnt)

enter a number :  5151

4

In [58]:
num=int(input("enter a number : "))
str1=str(num)
no_digits = len(str1)
print('total number of digits : ',no_digits)

enter a number :  5151

total number of digits :  4

## Exercise 7: Print the following pattern

Write a Python program to print the reverse number pattern using a for loop.


5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [74]:
for i in range(5,0,-1):
    for j in range(i):
        print(i,end=' ')
        i=i-1
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

## Exercise 8: Print list in reverse order using a loop

In [96]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

In [94]:
list1 = [10, 20, 30, 40, 50]

list2=reversed(list1)
for i in list2:
    print(i)

50
40
30
20
10

## Exercise 9: Display numbers from -10 to -1 using for loop

In [101]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

## Exercise 10: Display a message “Done” after the successful execution of the for loop

In [104]:
for i in range(5):
    print(i)
print('Done !')

0
1
2
3
4
Done !

## Exercise 11: Print all prime numbers within a range (start = 25 end = 50)

In [107]:

for i in range(5,51):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

5
7
11
13
17
19
23
29
31
37
41
43
47

In [115]:
n=int(input('enter a number'))
for i in range(2,n):
    if n%i==0:
        print("It is not prime")
        break
else:
    print("It is prime")

enter a number 7

It is prime

# PATTERN CODE

Star (Asterisk) Patterns===>
1. Right-angled triangle
2. Inverted right-angled triangle
3. Equilateral triangle (Pyramid)
4. Diamond pattern
5. Hollow diamond pattern
6. Hourglass pattern

  







   







    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *



*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

## RIGHT ANGLE TRAINGLE


*
**
***
****
*****

In [120]:
n=int(input("Enter any number"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

Enter any number 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

# INVERTED RIGHT ANGLE TRAINGLE

*****
****
***
**
*

In [ ]:
n=int(input("Enter any number"))

for i in range(n,0,-1):
    for j in range(i):
        print('*',end=' ')
        i=i-1
    print()

## EQUILATRAL TRAINGLE PYRAMID

    *
   ***
  *****
 *******
*********

In [192]:
n=int(input("Enter no of rows : "))
for i in range(n):
    for k in range(n-i):
        print('  ',end='')

    for j in range(2*i+1):
        print('*',end=' ')
    print()

Enter no of rows :  5

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

# Diamond Pattern

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [243]:
n=int(input("Enter no of rows: "))
# For Upper pyramid:
for i in range(n):

    for k in range(n-i):
        print(' ',end='')

    for j in range(2*i+1):
        print('*',end='')

    print()

for i in range(n,0,-1):

    for k in range(n-i):
        print(' ',end='')

    for j in range(2*i-1):
        print('*',end='')

    print()

Enter no of rows:  5

     *
    ***
   *****
  *******
 *********
*********
 *******
  *****
   ***
    *

In [355]:
n=int(input("Enter no of rows: "))

for i in range(1,n+1):
    for j in range(i):
        print(i,end=' ')

    print()

Enter no of rows:  5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [363]:
n=int(input("Enter no of rows: "))
cnt=1

for i in range(1,n+1): 
    
    for j in range(i):
        print(cnt,end=' ')
        # print('++' ,end=' ')
        cnt+=1
    
    print()

Enter no of rows:  5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [366]:
n=int(input("Enter no of rows: "))

for i in range(n):
    for j in range(i+1):
        print('*', end=' ')
    print()

Enter no of rows:  5

*
* *
* * *
* * * *
* * * * *

In [367]:
li=[5,6,7,8,1,9,10]
even_li=[x for x in li if x%2==0]
odd_li=[y for y in li if y%2!=0]
print(even_li)
print(odd_li)

[6, 8, 10]
[5, 7, 1, 9]

In [399]:
li=list(map(int,input("enter a list: ").split(',')))   
print(li)


# we can sort the list to find greatest and smallest.

li.sort()
print("Greatest number in the list : ",li[-1])
print("smallest number in the list : ",li[0])
print("Greatest number in the list : ",li[len(li)-1])

enter a list:  10,12,54,7,98,68,25,34,12

[10, 12, 54, 7, 98, 68, 25, 34, 12]
Greatest number in the list :  98
smallest number in the list :  7
Greatest number in the list :  98